/* Styles spécifiques à la page de login */
.login-main {
    min-height: calc(100vh - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 10px;
    font-weight: 500;
}

.login-input {
    height: 50px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    padding: 0 15px;
}

.login-btn {
    height: 50px;
    background-color: #1D6154;
    color: white;
    border-radius: 30px;
    border: none;
    font-family: 'Syne';
    font-size: 16px;
    cursor: pointer;
}

.forgot-password {
    text-align: center;
    margin-top: 20px;
    color: #3D3D3D;
    text-decoration: underline;
}

nav a{
    text-decoration: none;
    color: black;
}
/* Style pour le lien actif dans la navigation */
nav ul li a.active {
    font-weight: bold;
    color: #000;
}